<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="icon" type="image/svg+xml" href="/assets/images/msfrog_favicon.svg">

  <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>

  <header>
<!--    <h1><a href="/">{{ site.title }}</a></h1>-->
    <h1><a href="/"><img src="/assets/images/title.svg" alt="The Frog's Atelier" class="site-logo"></a></h1>
    <nav>
      <a href="/blog/">Blog</a>
      <a href="/patterns/">Patterns</a>
      <a href="/about/">About</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>
      © {{ "now" | date: "%Y" }} {{ site.title }}.
      Follow me on <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a>.
    </p>
  </footer>

</body>
</html>